

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
    
}

.carte{
    font-size: 10rem;
    
}

.carreau{
    color: red;
}
.coeur{
    
    color: red;
}
#afficher{
    font-size: 3rem;
}

#afficher_pique{
    font-size: 4rem;
}
#afficher_trefle{
    font-size: 4rem;
}
#afficher_carreau{
    font-size: 4rem;
}
#afficher_coeur{
    font-size: 4rem;
}

#les_cartes{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;      
    border: 3px solid green;    

}

